--find-links=https://girder.github.io/large_image_wheels GDAL
geopandas
leafmap
owslib
requests
streamlit
geemap
ee
eeconvert
setuptools
google-auth
streamlit_folium
google-auth-oauthlib
pyarrow>4.0.1 